/* font-family: 'Open Sans', sans-serif; */

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #f280b6;
  --color-violet: #e89bf2;
  --color-blue: #705cf2;
  --color-navy: #191c59;
  --color-green: #52f26a;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-black: #000000;

  /* Font size */
  --font-large: 3em;
  --font-medium: 1.75em;
  --font-regular: 1.125em;
  --font-small: 1em;
  --font-micro: 0.875em;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* base margin */
  --font-margin-lg: 1em 0;
  --font-margin-md: 0.5em 0;
  --font-margin-sm: 0.25em 0;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none; 
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: var(--font-margin-lg);
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: var(--font-margin-md);
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: var(--font-margin-md);
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: var(--font-margin-sm);
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-violet);
  align-items: center;
  color: var(--color-white);
  padding: 1em;
}

.navbar__menu {
  display: flex;
}

.logo {
  width: 1em;
  height: 1em;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__menu__item {
  padding: 0.5rem 0.5rem;
  margin: 0 0.25rem;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-pink);
}

/* Home */

#home {
  background: url('pics/home-background.png') center/cover no-repeat;
  padding: 2.5rem;
  text-align: center;
}

.home__avatar {
  width: 15.625em;
  height: 15.625em;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 1.5em;
  padding: 0.5em 0.75em;
  border: solid 2px var(--color-white);
  border-radius: var(--size-border-radius);
}
